@charset "utf-8";

/* css reset */
html,body{ height: 100%; }
body{ font-family: 'Noto Sans KR', sans-serif; color : #666666; }
ul,li{ list-style : none; }
a{ color : #666666; text-decoration:none; }
h1,h2,h3,h4,h5,h6{ line-height : 1; }


/* #header area */
#header{
  position : fixed;
  top: 0;
  overflow : hidden;
  padding : 45px 20px 10px;
  box-sizing: border-box;
  width: 100%;
  background: #f4f4f4c0;
  transition : 0.3s;
  z-index: 100;
}

#header:hover{
  background: #fff;
}

.hinner{
  width: 1320px;
  margin : 0 auto;
}

#header .inner{
  float : right;
  overflow : hidden;
}
#header .inner #login_menu, #header .inner #gnb{
  float : left;
}
#logo {  
  float : left;  
  margin-right: 106px;
  transform : translateY(-30%)
}

/* 로그인 메뉴 공통 */
#header .inner ul > li{
  float : left;
  height : 22px;
}

#header .inner ul > li a{
  line-height: 20px;
}

/* #gnb area */
#gnb {
  margin-right: 106px;
  height: 40px;
}

#gnb ul{
  overflow : hidden;
}

#gnb li{
  margin-left : 50px;
}

#gnb li a{
  position: relative;
  padding-bottom: 5px;
}

#gnb li a:after{
  content : '';
  position : absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 4px;
  transform : translateX(-50%);
  background: #f6ca00;
  transition : 0.3s;
}

#gnb li:hover a:after{
  width: 100%;
}

#gnb li:first-child{
  margin-left : 0px;
}

/* #login_menu area */
#login_menu {
  overflow : hidden;
}

#login_menu li{
  margin-left: 32px;
}

#login_menu li a:hover{
  color : #111;
}

#login_menu li:first-child{
  margin-left: 0px;
}

#login_menu li span.count{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 19px;
  text-align: center;
  border-radius: 100%;
  background-color : #f6ca00;
  color : white;
  margin-left : 6px;
  padding-bottom : 1px;
}

/* #mainbanner area */
#mainbanner{
  background-image : url("../img/main_banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size : cover;
  min-width : 1320px;
}

#mainbanner .inner{
  position : relative;
  width : 1320px;
  height : 100vh;
  margin : 0 auto;
}

#mainbanner .main_text{
  position : absolute;
  text-align: center;
  width : 100%;
  min-height : 254px;
  top: 50%;
  transform : translateY(-50%);
}

/* #mainbanner .maintitle area */
#mainbanner .maintitle{
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  color : #333333;
}

/* #mainbanner .subtitle area */
#mainbanner .subtitle{
  font-size: 20px;
  color : #666666;
  margin-top: 30px;
}

/* .common_btn style area */
.common_btn{
  display: inline-block;
  line-height: 60px;
  height: 60px;
  width: 180px;
  font-weight : bold;
  font-size: 20px;
  margin-top: 40px;
  color : #f6ca00;
  background-color: #333;
  border : 1px solid #333;
  border-radius : 5px;
  box-sizing: border-box;
  transition : 0.2s;
}

.common_btn:hover{
  color : black;
  background-color: #f6ca00;
  border : 1px solid #333;
}

/* #container section area */
#container section{
  min-width: 1320px;
}

/* section common style start */
#container section .inner{
  width : 1320px;
  min-height : 650px;
  margin : 0 auto;
  text-align: center;
}

#container section .inner h2{
  font-size: 45px;
  line-height: 58px;
  font-weight: 400;
  color : #333333;
}

#container section .inner h2 strong{
  color : #f6ca00;
}

#container section .inner .subtitle{
  margin-top : 27px;
  font-size: 20px;
  line-height: 30px;
  color : #666;
}
/* section common style start */

#container section:nth-of-type(1) .inner{
  min-height: 485px;
  padding-top: 165px;
}

#container section:nth-of-type(2) .inner{
  padding: 70px 0 50px;
  min-height: 510px;
}

#container section:nth-child(even){
  background: #f9f9f9;
}

#container section .inner .box_wrap{
  overflow : hidden;
}
#container section .inner .box_wrap li{
  float : left;
  padding : 0 20px;
  width : calc(25% - 40px);
}

#container section .inner .box_wrap li .items{
  border : 1px solid #e3e3e3;
  padding : 45px 0;
  min-height : 180px;
}

#container section .inner .box_wrap li .items h3{
  font-size: 20px;
  line-height: 20px;
  color : #444;
}

#container section .inner .box_wrap li .items p{
  line-height: 24px;
  color : #666666;
  margin : 32px 0;
}
#container section .inner .box_wrap li .items img{
  width: 40px;
}

/* food menu area */
#container section .inner .thumb_img_wrap{
  text-align: center;
}

#container section .inner .thumb_img_wrap ul{
  overflow : hidden;
  display: inline-block;
}

#container section .inner .thumb_img_wrap ul:nth-child(1){
  margin-top: 50px;
}

#container section .inner .thumb_img_wrap ul li{
  position : relative;
  display: inline-block;
  float : left;
  width : 310px;
  margin-right: 20px;
  overflow: hidden;
}

#container section .inner .thumb_img_wrap ul li span{
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position : absolute;
  color : white;
  width: 100%;
  top: 100%;
  font-size: 16px;
  transition : 0.3s;
  line-height: 50px;
}

#container section .inner .thumb_img_wrap ul li:hover span{
  top: 82%;
}

#container section .inner .thumb_img_wrap ul li:hover img{
  transform: scale(1.07);
}

#container section .inner .thumb_img_wrap ul li img{
  width: 100%;
  transition : 0.35s;
}

/*  section 3번 style */
#container section .inner .box{
  float : left;
  width : 50%;
  min-height : 650px;
  text-align : center;
}

#container section .inner .box.img{
  background-size : cover;
}

#container section:nth-child(3) .inner .box.img{
  background : url('../img/S_img1.jpg') no-repeat center;
}

#container section:nth-child(4){
  background-color : #f9f9f9;
  background-image : url('../img/S_img2.jpg');
  background-repeat : no-repeat;
  background-position : calc(50% + 340px) center;
  background-size : auto 100%;
}

#container section:nth-child(5){
  background-color : #fff;
}

#container section:nth-child(5) .inner .box.img{
  background-image : url("../img/S_img4.jpg");
}

#container section .inner .box .text_box{
  display : inline-block;
  text-align : left;
  margin-top : 160px;
}

#container section .inner .box .text_box .common_btn{
  text-align : center;
}

/* #fooer */
#footer{
  background-color: #f9f9f9;
  min-width: 1320px;
}

#footer .inner{
  position : relative;
  width : 1320px;
  height : 200px;
  padding : 50px 20px 0;
  box-sizing : border-box;
  margin: 0 auto;
  overflow : hidden;
}

#footer .inner .f_box{
  float : left;
}

#footer .inner .f_box:nth-of-type(2){
  padding-left: 75px;
}

/* #footer menu */
#footer .inner .f_box ul{
  overflow : hidden;
}

#footer .inner .f_box ul li{
  height : 20px;
  float : left;
  margin-right: 57px;
  position : relative;
}

#footer .inner .f_box ul li a:hover{
  color: #999;
}

#footer .inner .f_box ul li:after{
  content: '';
  width: 1px;
  height: 16px;
  position : absolute;
  display: block;
  top: calc(50% - 8px);
  right: -28.5px;
  background: #999;
}

#footer .inner .f_box ul li:last-child:after{
  display: none;
}

#footer .inner .f_box ul li:last-child{
  margin-right: 0px;
}

#footer .inner .f_box ul li a{
  line-height: 20px;
  color : #333;
}

#footer .inner .f_box .tel{
  margin-top: 20px;
}

#footer .inner .f_box .tel a{
  font-size : 16px;
  color : #666;
  font-weight: bold;
}

#footer .inner .f_box .copyright{
  font-size : 12px;
  line-height: 14px;
  color : #777777;
  margin-top: 30px;
}

/* familySite area */
#footer #familySite{
  width: 190px;
  height: 30px;
  border : 1px solid #d1d1d1;
  position: absolute;
  color : #333333;
  right : 20px;
  top: 40px;
  outline: none;
  appearance : none;
  -ms-appearance : none;
  -o-appearance : none;
  -moz-appearance : none;
  -webkit-appearance : none;
  padding-right : 30px;
  padding-left: 15px;
  background-color: white;
  background-image: url('../img/select_box_arrow.png');
  background-repeat: no-repeat;
  background-position : calc(100% - 15px) center;
}

#footer #familySite:focus{
  border : 1px solid #999999;
  background-image: url('../img/select_box_arrow_focus.png');
}

/* media query start */
@media screen and (max-width : 1355px){

  .hinner{
    width: 100%;
  }
  #logo{
    margin-right: 0;
  }
  #gnb{
    margin-right: 60px;
  }
  #gnb li{
    margin-left: 40px;
  }
  #mainbanner{
    min-width: 100vw;
  }
  #mainbanner .inner{
    height: 50vw;
    width: 100%;
  }
  #mainbanner .main_text{
    width: 100vw;
    margin-top: 2rem;
  }

  #mainbanner .maintitle{
    font-size: 4vw;
  }
  #mainbanner .subtitle{
    font-size: 2vw;
  }

  .common_btn{
    width: 14vw;
    height: 5vw;
    line-height: 5vw;
    font-size: 1.8vw;
  }
  #container section{
    min-width: 100vw;
  }
  #container section .inner{
    width :100%;
    min-height : 50vw;
  }
  #container section .inner h2{
    font-size: 3vw;
    line-height: 4vw;
  }
  #container section .inner .subtitle{
    font-size: 1.5vw;
    line-height: 2vw;
    margin-top: 2vw;
  }
  #container section:nth-of-type(1) .inner{
    min-height: 30vw;
    padding-top: 7vw;
  }
  #container section:nth-of-type(2) .inner{
    padding: 3vw 0 1vw;
    min-height: 40vw;
  }

  #container section .inner .box_wrap li{
    padding: 0 1vw;
    width: calc(25% - 2vw);
  }
  #container section .inner .thumb_img_wrap ul li{
    width: calc(25% - 20px);
  }
  #container section .inner .thumb_img_wrap ul li span{
    font-size: 14px;
    line-height: 30px;
    height: 100%;
  }
  #container section .inner .box{
    float : left;
    width : 50%;
    min-height : 50vw;
  }
  #container section .inner .box.img{
    background-size : auto;
  }
  #container section:nth-child(3) .inner .box.img{
    background-size: auto 50vw;
    background-position: calc(50% - 0vw) auto;
  }
  #footer{
    min-width: 100vw;
  }
  #footer .inner{
    width: 100vw;
    margin: 0;
  }
  #footer #familySite{
    display: none;;
  }
}

@media screen and (max-width : 1024px){
  body{background: #000;}
}