@charset "utf-8";

/* css reset 추가  */
html,body{ height: 100%; }
body{ font-family: 'Noto Sans KR', sans-serif; color : #666666; }
ul,li{ list-style : none; }
a{ color : #666666; text-decoration:none; }
h1,h2,h3,h4,h5,h6{ line-height : 1; }

/* z-index value
#gnb_btn : 700;
#header : 100;
#mgnb : 600;
.top : 550;
*/

/* color 
primary color : #f6ca00;
title : #333;
sub_title : #666;
*/

/* top button */
.top{
  position : fixed;
  bottom: 30px;
  right: -50px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #000;
  border-radius: 50% 50% 0% 50%;
  transition : 0.2s;
  cursor : pointer;
  z-index: 550;
}

.top:hover{
  box-shadow: 0 0 5px black;
  color : #000;
  background: #f6ca00;
}

/* #gnb_btn(gnb tablet ver) */
#gnb_btn{
  display: none;
  position : absolute;
  top: 40%;
  right: 5%;
  cursor : pointer;
  z-index: 700;
}

#gnb_btn span{
  display: block;
  width: 30px;
  height: 3px;
  background: #000;
  margin-bottom: 8px;
  transition : 0.3s;
}

#gnb_btn span:last-child{
  margin-bottom: 0;
}

/* #mgnb 모바일, 테블릿 전용 */
#mgnb{
  position : fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #f1f1f1ee;
  text-align: center;
  padding-top: 4rem;
  transition : 0.5s;
  z-index: 600;
}

#mgnb li{
  line-height: 60px;
}

#mgnb li a{
  position : relative;
  padding-bottom: 4px;
  font-size: 1.4rem;
}

#mgnb li a:after{
  content : '';
  position : absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 4px;
  transform : translateX(-50%);
  background: #f6ca00;
  transition : 0.3s;
}

#mgnb li a:hover:after{
  width: 100%;
}

#mgnb_btn{
  display: block;
  position : absolute;
  top: 4%;
  right: 5%;
  z-index: 800;
  width: 40px;
  height: 40px;
  transition : 0.4s;
  cursor : pointer;
}

#mgnb_btn span{
  display: block;
  position : absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  background: #000;
  margin-bottom: 8px;
  border-radius: 100%;
  transition : 0.3s;
  transform: translate(-50%,-50%);
}

#mgnb_btn:hover span{
  height: 3px;
  border-radius: 0;
}

#mgnb_btn:hover span:first-child{
  transform: translate(-50%,-50%) rotate(45deg);
}

#mgnb_btn:hover span:last-child{
  transform: translate(-50%,-50%) rotate(-45deg);
}

/* #header area */
#header{
  overflow : hidden;
  position : fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  padding : 45px 20px 10px;
  background: #f4f4f4c0;
  transition : 0.3s;
  z-index: 100;
}

#header:hover{
  background: #fff;
}

.hinner{
  width: 1320px;
  margin : 0 auto;
}

#header .inner{
  float : right;
}

#header .inner #login_menu, #header .inner #gnb{
  float : left;
}

/* #logo area */
#logo {  
  float : left;  
  margin-right: 106px;
  transform : translateY(-30%)
}

/* 로그인 메뉴 공통 */
#header .inner ul > li{
  float : left;
  height : 22px;
}

#header .inner ul > li a{
  line-height: 20px;
}

/* #gnb area */
#gnb {
  margin-right: 106px;
  height: 40px;
}

#gnb ul{
  overflow : hidden;
}

#gnb li{
  margin-left : 50px;
}

#gnb li a{
  position: relative;
  padding-bottom: 5px;
}

#gnb li a:after{
  content : '';
  position : absolute;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 4px;
  transform : translateX(-50%);
  background: #f6ca00;
  transition : 0.3s;
}

#gnb li:hover a:after{
  width: 100%;
}

#gnb li:first-child{
  margin-left : 0px;
}

/* #login_menu area */
#login_menu {
  overflow : hidden;
}

#login_menu li{
  margin-left: 32px;
}

#login_menu li a:hover{
  color : #111;
}

#login_menu li:first-child{
  margin-left: 0px;
}

#login_menu li span.count{
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  line-height: 19px;
  text-align: center;
  border-radius: 100%;
  margin-left : 6px;
  padding-bottom : 1px;
  background-color : #f6ca00;
  color : white;
}

/* #mainbanner area */
#mainbanner{
  background-image : url("../img/main_banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size : cover;
  min-width : 1320px;
}

#mainbanner .inner{
  position : relative;
  width : 1320px;
  height : 100vh;
  margin : 0 auto;
}

#mainbanner .main_text{
  position : absolute;
  text-align: center;
  width : 100%;
  min-height : 254px;
  top: 50%;
  transform : translateY(-50%);
}

/* #mainbanner .maintitle area */
#mainbanner .maintitle{
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  color : #333333;
  animation : TextMove 1s both;
  opacity: 0;
}

@keyframes TextMove {
  0%{transform: translateY(-20%); opacity : 0;}
  100%{transform: translateY(0%);  opacity : 1;}
}

/* #mainbanner .subtitle area */
#mainbanner .subtitle{
  font-size: 20px;
  color : #666666;
  margin-top: 30px;
  animation : TextMove 1s both;
  animation-delay: 0.75s;
  opacity: 0;
}

/* .common_btn style area */
.common_btn{
  display: inline-block;
  width: 180px;
  height: 60px;
  line-height: 60px;
  font-weight : bold;
  font-size: 20px;
  margin-top: 40px;
  border-radius : 5px;
  box-sizing: border-box;
  transition : 0.2s;
  color : #f6ca00;
  background-color: #333;
  border : 1px solid #333;
}

.common_btn:hover{
  color : black;
  background-color: #f6ca00;
  border : 1px solid #333;
}

/* #container section area */
#container section{
  min-width: 1320px;
}

/* scroll Event style start */
#container #third{
  transition : 1.5s;
  opacity: 0;
  transform: translateY(5%);
}

#container #fourth{
  transition : 1.5s;
  opacity: 0;
  transform: translateY(5%);
}

#container #fifth{
  transition : 1.5s;
  opacity: 0;
  transform: translateY(5%);
}
/* scroll Event style end */

/* section common style start */
#container section .inner{
  width : 1320px;
  min-height : 650px;
  margin : 0 auto;
  text-align: center;
}

#container section .inner h2{
  font-size: 45px;
  line-height: 58px;
  font-weight: 400;
  color : #333333;
}

#container section .inner h2 strong{
  color : #f6ca00;
}

#container section .inner .subtitle{
  margin-top : 27px;
  font-size: 20px;
  line-height: 30px;
  color : #666;
}

/* section inner style */
#container section:nth-of-type(1) .inner{
  padding-top: 165px;
  min-height: 485px;
}

#container section:nth-of-type(2) .inner{
  padding: 70px 0 50px;
  min-height: 510px;
}

#container section:nth-child(even){
  background: #f9f9f9;
}

/* section#first style */
#container section .inner .box_wrap{
  overflow : hidden;
}

#container section .inner .box_wrap li{
  float : left;
  padding : 0 20px;
  width : calc(25% - 40px);
}

#container section .inner .box_wrap li .items{
  border : 1px solid #e3e3e3;
  padding : 45px 0;
  min-height : 180px;
}

#container section .inner .box_wrap li .items h3{
  font-size: 20px;
  line-height: 20px;
  color : #333;
}

#container section .inner .box_wrap li .items p{
  line-height: 24px;
  color : #666666;
  margin : 32px 0;
}
#container section .inner .box_wrap li .items img{
  width: 40px;
}

/* section#second style */
#container section .inner .thumb_img_wrap{
  text-align: center;
}

#container section .inner .thumb_img_wrap ul{
  overflow : hidden;
  display: inline-block;
}

#container section .inner .thumb_img_wrap ul:nth-child(1){
  margin-top: 50px;
}

#container section .inner .thumb_img_wrap ul li{
  display: inline-block;
  overflow : hidden;
  float : left;
  position : relative;
  width : 310px;
  margin-right: 20px;
}

#container section .inner .thumb_img_wrap ul li span{
  display: block;
  position : absolute;
  top: 100%;
  width: 100%;
  line-height: 50px;
  font-size: 16px;
  color : white;
  background: rgba(0, 0, 0, 0.6);
  transition : 0.3s;
}

#container section .inner .thumb_img_wrap ul li:hover span{
  top: 82%;
}

#container section .inner .thumb_img_wrap ul li:hover img{
  transform: scale(1.07);
}

#container section .inner .thumb_img_wrap ul li img{
  width: 100%;
  transition : 0.35s;
}

/*  section#third style */
#container section .inner .box{
  float : left;
  width : 50%;
  min-height : 650px;
  text-align : center;
}

#container section .inner .box.img{
  background-size : cover;
}

/*  section#third img1 */
#container section:nth-child(3) .inner .box.img{
  background : url('../img/S_img1.jpg') no-repeat center;
}

/*  section#third img2 */
#container section:nth-child(4) .inner .box.img{
  background-color : #f9f9f9;
  background-image : url('../img/S_img2.jpg');
  background-repeat : no-repeat;
  background-position : center;
  background-size : auto 100%;
}

#container section:nth-child(5){
  background-color : #fff;
}

/*  section#third img3 */
#container section:nth-child(5) .inner .box.img{
  background-image : url("../img/S_img3.jpg");
  background-size : auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#container section .inner .box .text_box{
  display : inline-block;
  text-align : left;
  margin-top : 160px;
}

#container section .inner .box .text_box .common_btn{
  text-align : center;
}

/* #fooer */
#footer{
  background-color: #f9f9f9;
  min-width: 1320px;
}

#footer .inner{
  position : relative;
  width : 1320px;
  height : 200px;
  padding : 50px 20px 0;
  box-sizing : border-box;
  margin: 0 auto;
  overflow : hidden;
}

#footer .inner .f_box{
  float : left;
}

#footer .inner .f_box:nth-of-type(2){
  padding-left: 75px;
}

/* #footer ul style */
#footer .inner .f_box ul{
  overflow : hidden;
}

#footer .inner .f_box ul li{
  height : 20px;
  float : left;
  margin-right: 57px;
  position : relative;
}

#footer .inner .f_box ul li a:hover{
  color: #999;
}

#footer .inner .f_box ul li:after{
  content: '';
  width: 1px;
  height: 16px;
  position : absolute;
  display: block;
  top: calc(50% - 8px);
  right: -28.5px;
  background: #999;
}

#footer .inner .f_box ul li:last-child:after{
  display: none;
}

#footer .inner .f_box ul li:last-child{
  margin-right: 0px;
}

#footer .inner .f_box ul li a{
  line-height: 20px;
  color : #333;
}

/* #footer 고객센터 번호 style */
#footer .inner .f_box .tel{
  margin-top: 20px;
}

#footer .inner .f_box .tel a{
  font-size : 16px;
  color : #666;
  font-weight: bold;
}

/* #footer copyright style */
#footer .inner .f_box .copyright{
  font-size : 12px;
  line-height: 14px;
  color : #666;
  margin-top: 30px;
}

/* familySite style */
#footer #familySite{
  width: 190px;
  height: 30px;
  border : 1px solid #d1d1d1;
  position: absolute;
  color : #333333;
  right : 20px;
  top: 40px;
  outline: none;
  appearance : none;
  -ms-appearance : none;
  -o-appearance : none;
  -moz-appearance : none;
  -webkit-appearance : none;
  padding-right : 30px;
  padding-left: 15px;
  background-color: white;
  background-image: url('../img/select_box_arrow.png');
  background-repeat: no-repeat;
  background-position : calc(100% - 15px) center;
}

#footer #familySite:focus{
  border : 1px solid #999999;
  background-image: url('../img/select_box_arrow_focus.png');
}

/* media query start */
@media screen and (max-width : 1355px){
  /* header style */
  .hinner{
    width: 100%;
  }
  #logo{
    margin-right: 0;
  }
  #gnb{
    margin-right: 60px;
  }
  #gnb li{
    margin-left: 40px;
  }

  /* mainbanner style */
  #mainbanner{
    min-width: 100%;
  }
  #mainbanner .inner{
    height: 50vw;
    width: 100%;
  }
  #mainbanner .main_text{
    width: 100%;
    margin-top: 2rem;
  }
  #mainbanner .maintitle{
    font-size: 36px;
    line-height: 38px;
  }
  #mainbanner .subtitle{
    font-size: 20px;
    margin-top: 20px;
  }

  /* 공통버튼 style */
  .common_btn{
    width: 140px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
  }

  /* seciont style */
  #container section{
    min-width: 100%;
  }
  #container section .inner{
    width :100%;
    min-height : 50vw;
  }

  /* section maintitle */
  #container section .inner h2{
    font-size: 3vw;
    line-height: 4vw;
  }

  /* section subtitle */
  #container section .inner .subtitle{
    font-size: 1.5vw;
    line-height: 2vw;
    margin-top: 2vw;
  }

  /* section 별 .inner style */
  #container section:nth-of-type(1) .inner{
    min-height: 30vw;
    padding: 6vw 0 6vw;
  }
  #container section:nth-of-type(2) .inner{
    padding: 3vw 0 1vw;
    min-height: 40vw;
  }

  /* section#first style */
  #container section .inner .box_wrap li{
    padding : 0 10px;
  width : calc(25% - 20px);
  }

  /* section#second style */
  #container section .inner .thumb_img_wrap ul li{
    width: calc(25% - 20px);
  }
  #container section .inner .thumb_img_wrap ul li span{
    font-size: 14px;
    line-height: 30px;
    height: 100%;
  }


  /* section#third style */
  #container section .inner .box{
    float : left;
    width : 50%;
    min-height : 50vw;
  }
  #container section .inner .box .text_box{
    display : inline-block;
    text-align : left;
    margin-top : 10vw;
  }
  #container section .inner .box.img{
    background-size : auto;
  }
  #container section:nth-child(3) .inner .box.img{
    background-size: auto 100%;
  }

  /* footer style */
  #footer{
    min-width: 100%;
  }
  #footer .inner{
    width: 100%;
    margin: 0;
  }
  #footer #familySite{
    display: none;;
  }
}

@media screen and (max-width : 1024px){
  #gnb_btn{
    display: block;
  }
  #gnb{
    display: none;
  }
  #login_menu{
    display: none;
  }
}

@media screen and (max-width : 950px){
  /* header style */
  #header{
    padding : 2vw 2vw 1vw;
  }
  #logo{
    transform : translateY(-10%)
  }

  /* section#first style */
  #container section .inner .box_wrap li{
    padding: 3vw 3vw;
    width: calc(50% - 6vw);
  }
  #container section:nth-of-type(1) .inner{
    min-height: 20vw;
    padding: 3vw 0 3vw;
  }

  /* footer style */
  #footer .inner .f_box ul li{
    font-size: 12px;
    margin-right: 40px;
  }
  #footer .inner .f_box ul li:after{
    display: none;
  }
  #footer .inner .f_box .tel a{
    font-size: 16px;
  }
}

@media screen and (max-width : 768px){
  /* .top button */
  .top{
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    bottom: 15px;
  }

  /* header style */
  #header{
    padding : 1vw 2vw 2vw;
  }
  #logo{
    transform : translateY(10%);
  }
  #logo img{
    width: 80%;
  }
  #gnb_btn{
    top: 30%;
  }

  /* mainbanner style */
  #mainbanner .maintitle{
    font-size: 36px;
    line-height: 38px;
    padding-top: 40px;
  }
  #mainbanner .subtitle{
    margin-top: 15px;
  }
  .common_btn{
    width: 120px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    margin-top: 20px;
  }

  /* section stlye */
  #container .inner{
    padding: 0 20px;
    box-sizing: border-box;
  }

  /* section maintitle style */
  #container section .inner h2{
    font-size: 22px;
    line-height: 24px;
  }

  /* section subtitle style */
  #container section .inner .subtitle{
    font-size: 14px;
    line-height: 18px;
    margin-top: 18px;
  }

  /* section#second style */
  #container section .inner .thumb_img_wrap ul:nth-child(1){
    margin-top: 0px;
    padding: 30px;
  }
  #container section .inner .thumb_img_wrap ul li{
    margin: 10px;
    width: calc(50% - 20px);
  }
  #container section .inner .thumb_img_wrap ul li span{
    font-size: 16px;
    height: 80%;
    line-height: 20px;
  }
  #container section .inner .thumb_img_wrap ul li:hover span{
    top: 88%;
  }

  /* footer style */
  #footer .inner .f_box:nth-of-type(2){
    padding-left: 20px;
  }
}

@media screen and (max-width : 642px){
  /* footer style */
  #footer .inner .f_box:nth-of-type(2){
    padding-left: 10px;
  }
  #footer .inner .f_box ul li{
    font-size: 12px;
    margin-right: 4vw;
  }
  #footer .inner .f_box ul li:after{
    display: none;
  }
  #footer .inner .f_box .tel a{
    font-size: 14px;
  }
}

@media screen and (max-width : 600px){
  /* .top button */
  .top{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    bottom: 15px;
  }

  /* section#first style */
  #container section .inner .box_wrap{
    width: 80%;
    margin : 0 auto;
  }
  #container section .inner .box_wrap li{
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  /* mainbanner stlye */
  #mainbanner .inner{
    height: 300px;
  }
  #mainbanner .main_text{
    width: 100%;
    margin-top: 3rem;
  }
  #mainbanner .maintitle{
    font-size: 28px;
    line-height: 30px;
  }
  #mainbanner .subtitle{
    font-size: 18px;
  }
  .common_btn{
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
  }

  /* section style */
  #container section:nth-of-type(2) .inner{
    width: 80%;
    padding : 24px;
  }
  #container section .inner h2{
    font-size: 26px;
    line-height: 28px;
  }
  #container section .inner .subtitle{
    font-size: 14px;
    line-height: 16px;
    margin-top: 20px;
  }

  /* section#second style */
  #container section .inner .thumb_img_wrap ul:nth-child(1) {
    margin-top: 0px;
  }
  #container section .inner .thumb_img_wrap ul li{
    width: 100%;
    margin : 10px auto;
  }
  #container section .inner .thumb_img_wrap ul li:hover span{
    top: 85%;
  }
  #container section .inner .thumb_img_wrap ul li span{
    font-size: 16px;
    line-height: 40px;
  }

  /* section#third style */
  #container section .inner .box{
    float : none;
    width : 80%;
    min-height : 250px;
    margin : 20px auto 0;
  }
  #container section .inner .box .text_box{
    text-align: center;
    margin : 60px 0;
  }
  #container section:nth-child(3) .inner .box.img{
    background-size: 85%;
  }
  #container section:nth-child(4) .inner .box.img{
    margin: 0px auto;
    background-size: 85%;
  }
  #container section:nth-child(5) .inner .box.img{
    background-size: 85%;
  }

  /* footer style */
  #footer .inner{
    padding: 20px 10px 0;
  }
  #footer .inner .f_box{
    float : none;
  }
  .f_box.logo{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .f_box img{
    width: 20%;
  }
}

@media screen and (max-width : 500px){
  #mainbanner{
    min-width: 320px;
  }
  #mainbanner .maintitle{
    font-size: 24px;
    line-height: 30px;
  }
  #mainbanner .subtitle{
    font-size: 12px;
  }
  #container section{
    min-width: 320px;
  }
  #container section .inner .thumb_img_wrap ul li span{
    font-size: 14px;
    line-height: 20px;
  }
  #footer{
    min-width: 320px;
  }
}

@media screen and (max-width : 370px){
  #container section .inner .thumb_img_wrap ul li span{
    font-size: 12px;
    line-height: 20px;
  }
}